/* docs/assets/css/stylesheets/extra.css */

[data-md-color-scheme="slate"] {
    /* text on Submit button */
    --waline-white: #0f172a;
    --waline-light-grey: #1e293b;
    --waline-dark-grey: #cbd5e1;

    /* NickName, E-Mail, Website text */
    --waline-color: #e2e8f0;

    /* no flashbang */
    --waline-bg-color: #111827;
    --waline-bg-color-light: #1e293b;
    --waline-bg-color-hover: #334155;

    /* comment box and its separator */
    --waline-border-color: #445369;
    --waline-border: 1px solid var(--waline-border-color);
    /* --waline-disable-bg-color: #FF0000;
     * --waline-disable-color: #0000FF; */

    --waline-code-bg-color: #0f172a;
    --waline-bq-color: #94a3b8;

    /* submit button */
    --waline-theme-color: #60a5fa;
    --waline-active-color: #93c5fd;
}

/* header and tabs */
[data-md-color-scheme="slate"] .md-header, .md-tabs {
    background-color: #111827;
}

/* body */
[data-md-color-scheme="slate"] {
    /* fg ( e.g. hyprlinks ) */
    --md-primary-fg-color: #60a5fa;
    /* highlight ( e.g. hyperlinks when mouse hover them ) */
    --md-accent-fg-color: #93c5fd;
}
